[submodule "xmodality"]
	path = 1_Data_synthesis/Stroke_usecase/TOF-to-CTA-conversion
	url = https://github.com/alexander-koch/xmodality
[submodule "stylegan"]
	path = 1_Data_synthesis/Stroke_usecase/TOF-MRA-synthesis
	url = https://github.com/claim-berlin/3D_StyleGAN_Circle_of_Willis.git
[submodule "2_Evaluation/Stroke_usecase/Replica-detection"]
	path = 2_Evaluation/Stroke_usecase/Replica-detection
	url = https://github.com/claim-berlin/relict
